.descriptionPage {
  width: 100%;
  height: 35vh;
  background-color: #373c47;
  color: var(--pink);
  align-items: center;
  justify-content: center;
  display: flex;
}

.descriptionPage > h1 {
  margin-bottom: 0;
}
