.slider .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10vw;
}

/* 

  [] show        => 0%  to 22.5%
  [] transition  => 22.5% to 27.5%
  [] hide        => 27.5% to 72.5%
  [] transition  => 72.5% to 77.5%
  [] show        => 77.5% to 100%
  
*/

@keyframes animaLeft {
  0% {
    transform: translateX(15%);
    opacity: 0.5;
  }
  5% {
    transform: translateX(0%);
    opacity: 1;
  }
  22.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  27.5% {
    transform: translateX(15%);
    opacity: 0.5;
  }
  32.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  72.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  77.5% {
    transform: translateX(15%);
    opacity: 0.5;
  }
  82.5% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slider .box {
  animation: animaLeft 60s infinite;
  transform: translate(15%);
  opacity: 0.5;
}

.slider .content .box p {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3vh;
  max-width: 60%;
  font-family: var(--Cinzel);
  line-height: 1.7rem;
}

@media screen and (min-width: 768px) {
  .slider .content .box p {
    font-size: 4rem;
    line-height: 4.5rem;
    margin-bottom: 5vh;
    max-width: 60%;
  }
}
