.bestSellers {
  width: 100%;
}

.bestSellers .container {
  padding: 5vw 5vh;
  text-align: center;
}

.bestSellers .container .products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 10vh;
}
