.bannerAppliques {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bannerAppliques .content:first-child {
  align-items: flex-end;
}

.bannerAppliques .content:last-child {
  align-items: flex-start;
}

.bannerAppliques .content:first-child .box {
  background-color: var(--black);
}

.bannerAppliques .content:last-child .box {
  background-color: var(--pink);
}

.bannerAppliques .content:first-child .box h1 {
  color: var(--pink);
}

.bannerAppliques .content:last-child .box h1 {
  color: var(--black);
}

@media screen and (min-width: 1024px) {
  .bannerAppliques {
    flex-direction: row;
  }

  .bannerAppliques .content:first-child {
    align-items: center;
    justify-content: flex-end;
  }

  .bannerAppliques .content:last-child {
    align-items: center;
    justify-content: flex-start;
  }
}
