.navbar-container .navegation {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 100%;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
  background-color: var(--black);
  opacity: 0;
}

.navbar-container .navegation.active {
  left: 0;
  opacity: 1;
}

.navbar-container .navegation ul {
  text-align: center;
}

.navbar-container .navegation ul li {
  font-size: 1.2rem;
  margin: 2rem 0;
  color: #fff;
  transition: color 0.2 ease;
}

.navbar-container .navegation ul li a {
  font-size: 1.2rem;
  color: #fff;
  transition: color 0.2 ease;
}

.navbar-container .navegation ul li:hover {
  color: var(--pink);
}

@media screen and (min-width: 1024px) {
  .navbar-container .navegation {
    position: static;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    opacity: 1;
  }

  .navbar-container .navegation ul {
    text-align: center;
    display: flex;
    column-gap: 1.5rem;
  }

  .navbar-container .navegation ul li {
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
  }
}
