.bestSellers .product {
  display: block;
  width: 100%;
}

.bestSellers .product .img {
  width: 100%;
  overflow: hidden;
}

.bestSellers .product .img img {
  width: 100%;
}

.bestSellers .product .img button {
  transform: translateY(100%);

  width: 100%;
  font-size: 0.9rem;
  transition: transform 0.5s ease;
}

.bestSellers .product:hover .img button {
  transform: translateY(0%);
}

.bestSellers .product .content {
  height: 10vh;
  width: 100%;
}

.bestSellers .product .content h2 {
  color: var(--black);
}

.bestSellers .product .content p {
  color: var(--pink);
}
