.footer .navegation {
  grid-area: navegation;
}

.footer .navegation ul {
  columns: 2;
}

.footer .navegation ul li {
  font-size: 1rem;
  font-family: var(--Josefin_Sans);
}

.footer .navegation ul li a {
  padding: 0.5rem 0;
  color: white;
}
