.navbar-container .logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: white;
  grid-area: logo;
}

.navbar-container .logo span {
  margin-left: 0.5rem;
  font-family: var(--Julius_Sans_One);
  font-size: 1.5rem;
}
